@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

/* Root styles */



:root{
    --secondary-text:#FFFAE7;
    --primary-text:#FEDB39;
    --primary-bg:#3d3d3d;
    --secondary-bg:#4b4b4b;
 }

 
*{
    font-family: 'Rubik', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
    text-transform: capitalize;
 }
 
 *::selection{
    background-color: var(--secondary-bg);
    color:var(--primary-text);
 }
 
 html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
 }
 
 ::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
 }
 
 ::-webkit-scrollbar-track{
    background-color: transparent;
 }
 
 ::-webkit-scrollbar-thumb{
    background-color: var(--secondary-text);
    border-radius: 5rem;
 }
 
 body{
    background-color: var(--primary-bg);
 }

 
 
 section{
    max-width: 1200px;
    margin:0 auto;
    padding:2rem;
 }
 
 .btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: var(--secondary-bg);
    cursor: pointer;
    color:var(--primary-text);
    font-size: 1.8rem;
    padding:1rem 3rem;
 }
 
 .btn:hover{
    background-color: var(--primary-text);
    color:var(--primary-bg);
 }

 
.home{
   margin-top: 5rem;
}

.home .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap-reverse;
   gap:1.5rem;
}

.home .row .content{
   flex:1 1 40rem;
   text-align: center;
}

.home .row .image{
   flex:1 1 40rem;
   width: 52.5rem;
   height: 52.5rem;

}

.home .row .image img{
   width: 100%;
}

.home-title{
   margin-bottom: 1rem;
   font-size: 8rem;
   color:var(--primary-text);
   line-height: 1;
}

.home-span{
   color:var(--secondary-text);
}


.count .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap:15px;
   align-items: flex-start;
   margin-top: 2rem;
}

.count .box-container .box{
   background-color: var(--secondary-bg);
   border-radius: .5rem;
   padding:20px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap:25px;
}

.count .box-container .box i{
   font-size: 5rem;
   color:var(--secondary-text);
}

.count .box-container .box .content h3{
   font-size: 20px;
   color:var(--primary-text);
   margin-bottom: .5rem;
}

.count .box-container .box .content p{
   font-size: 16px;
   color:var(--secondary-text);
} 

.icon-box{
   width: 4rem;
   height: 4rem;
   color: var(--secondary-text);
}

.quote{
   color: var(--primary-text);
   font-size: 2.4rem;
   margin: 0;
}